<b>Menu</b><br>
  <a href="/">Home</a><br>
  <a href="/create">Create</a><br>
  <a href="/about">About</a><br>
  <a href="/edit">Edit</a><br>
<% if $credentials %>
<% if $credentials[0] != '' %>
  Logged in as <br><a href="/user/<%= $credentials[0] %>"><b><%= $credentials[0] %></b></a><br><br>
    <a href="/logout">Logout</a><br><br>
<% if $credentials[0] == "Admin" %>
  <br><a href="/admincontrols">Admin Controls</a><br>
<% end %>
<% else %>
  <a href="/login">Login</a><br>
<% end %>
<% else %>
  <a href="/login">Login</a><br>
<% end %>
<br><br>

<h2>Admin controls page</h2>
<p><b>User list</b></p><br>
<p>Username - DateJoined - Edit?</p>
<% @list2.each do |liste| %>
<article>
  <p>
    <%= liste.username %> - <%= liste.date_joined %> - <%= liste.edit %>
      <form action="/user/<%= liste.username %>" method="post" id="edit">
        <input type="hidden" name="_method" value="put">
        <input type="checkbox" name="edit" <%= "checked" if liste.edit %>>
        <input type="submit" value="Allow Edit?">
      </form>
    <a href="/user/delete/<%= liste.username %>">Delete User?</a>
  </p>
</article>
<% end %>