<div class= "row">
  <div class="col-md-9">
    <h2>Admin controls page</h2>
    <h3>User list:</h3><br>

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>DateJoined</th>
            <th>Allowed to edit?</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          <% @list2.each do |liste| %>
          <tr>
            <td><%= liste.username %></td>
            <td><%= liste.date_joined %></td>
            <td><%= liste.edit %></td>
            <td><a href="/user/edit/<%= liste.username %>" class="btn btn-primary btn-xs" >Edit User</a></td>
            <td><a href="/user/delete/<%= liste.username %>" class="btn btn-danger btn-xs">Delete User</a></td>
          </tr>
        </tbody>
         <% end %>
      </table>
    
    
  </div>

  <div class= "col-md-offset-1 col-md-2"> <br><br>
    <h3>Admin actions:</h3><br><br>
      <form action="/createaccount" method="get" id="create_user">
      <input type="submit" value="Create new user" class="btn btn-primary btn-block">
      </form>
    <br>
      <form action="/archive" method="post" id="archive">
      <input type="submit" value="Archive Wiki" class="btn btn-warning btn-block">
      </form>
    <br>
      <form action="/reset" method="post" id="reset">
      <input type="hidden" name="_method" value="put">
      <input type="submit" value="Reset Wiki" class="btn btn-danger btn-block">
      </form>
    <br>
  </div>
</div>