<div class="row">
    <div class="col-md-2 leftcolumn">
        <p>Words: <%= @words %></p> <br>
        <p>Lines: <%= @lines %></p> <br>
        <p>Characters (ex.spaces): <%= @chars_no_spaces %></p> 
    </div>
    
    <div class="col-md-10 rightcolumn">
        <h2>Can anyone learn to programme?</h2>
        <%= @intro_text %> <br><br>
        
        <div>
            <%= @file_info %>
        </div>
        
    </div>
</div>